{% extends "base.html" %}
{% block content %}
<h2>Registro</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.career.label(class="form-label") }}
        {{ form.career(class="form-select") }}
    </div>
    <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.confirm_password.label(class="form-label") }}
        {{ form.confirm_password(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Registrarse</button>
</form>
{% endblock %}